# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Kotlin
*.class
*.kotlin_module

# OS
.DS_Store
Thumbs.db
desktop.ini

# Claude
CLAUDE.md

# Signing
keystore.properties
*.jks
*.keystore
